.container
  .row
    %p#notice= notice

    %p
      %b Usermail:
      = @amo_account.usermail
    %p
      %b Api endpoint:
      = @amo_account.api_endpoint
    %p
      %b Api key:
      = @amo_account.api_key
    %p
      %b Some Property
      = @props.data['users'].select {|user| user['group_id']==0}

    %p
      %b custom fields
      = raw JSON.pretty_generate(@props.data) #.gsub(" ","&nbsp;") #['custom_fields']['leads'].select {|field| field['name']=="Назначен менеджер"}


    = link_to 'Edit', edit_amo_account_path(@amo_account)
    \|
    = link_to 'Back', amo_accounts_path
